*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f2f2f2;
    font-family: "Be Vietnam";
}
.section{
    width: 100%;
    height: 450px;
    float: left;
    padding-top: 50px;
}
.section1{
    width: 100%;
    height: 3900px;
    float: left;
    padding-top: 50px;
}
.container{
    width: 1300px;
    margin: 0 auto;
    color: #6d1f37;
}
.container1{
    width: 100%;
    float: left;
}
.container7{
    height: 100px;
}
header.section{
    background-image: url("../img/banner coffee.jpg");
    background-size: cover;
    padding: 40px 0;
}
header .menu{
    width: 1150px;
    height: 100px;
    float: left;
}
.header-right{
    width: 150px;
    height: 100px;
    float: right;
    font-size: 25px;
    padding: 15px 50px 0 0;
}
#quangcao{
    width: 450px;
    height: 200px;
    float: left;
    color: white;
    text-align: center;
    padding: 75px 0 0 50px;
    font-size: 20px;
    line-height: 1.5;
}
.marker{
    float: left;
}
.user{
    float: right;
}
header a{
    color: #ffffff;
    text-decoration: none;
}
header a span{
    text-decoration: underline;
}
.click{
    width: 150px;
    height: 100px;
    float: left;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    padding-top: 15px;
}
.click1{
    font-size: 25px;
    padding-top: 0;
}
.click2{
    width: 200px;
}
.menu1{
    width: 100%;
    height: 150px;
}
.menu1 li{
    list-style: none;
    width: 50%;
    height: 100%;
    float: left;
}
section a{
    height: 100%;
    padding-top: 30px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: #6d1f37;
}
section a i{
    font-size: 50px;
}
.drinks{
    float: right;
    margin-right: 40px;
}
.food{
    float: left;
    margin-left: 40px;
}
.ctn{
    width: 100%;
    float: left;
    background-color: white;
    padding-left: 100px;
    padding-right: 100px;
}
#center{
    width: 600px;
    margin: 0 auto;
}
.showing{
    width: 100%;
    float: left;
    color: #6d1f37;
    font: 600 20px/2 "Be Vietnam";
}
.showing select{
    width: 450px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #747474;
    color: #6d1f37;
    font: 400 18px/1.25 "Be Vietnam";
    padding-left: 20px;
}
.iam{
    width: 100%;
    padding-top: 20px;
    color: #6d1f37;
    font: 600 20px/2 "Be Vietnam";
}
.items{
    width: 100%;
    float: left;
}
.iam p{
    width: 100%;
}
.iam a{
    width: 90px;
    height: 150px;
    float: left;
    margin: 0 30px 30px 0;
}
.items .item{
    width: 100%;
    height: 90px;
    border: 2px solid #d5d2d2;
    border-radius: 50%;
    font-size: 45px;
}
.items span{
    text-align: center;
    font: 400 14px/1.25 "Be Vietnam";
    color: black;
}
h1{
    width: 100%;
    height: 90px;
    float: left;
    font-size: 50px;
}
.coffee{
    width: 25%;
    height: 330px;
    float: left;
    padding: 0px 10px 0;
}
img{
    width: 100%;
    height: 255px;
    object-fit: cover;
    float: left;
}
.coffee .name{
    width: 100%;
    height: 35px;
    float: left;
    text-align: center;
    font: 800 18px/1.25 "Be Vietnam";
}
.bottom{
    width: 100%;
    height: 350px;
    float: left;
    padding: 50px;
    background-color: #b51144;
    color: #ffffff;
}
.grid{
    width: 25%;
    height: 100%;
    float: left;
    padding: 20px;
}
.end{
    width: 100%;
    height: 100px;
    float: left;
    padding: 20px 50px;
    background-color: #6d1f37;
    color: #ffffff;
}